footer.footer
  .container.footer__container
      .footer__auth 
        a(href="/login.html").title-name Авторизация
          span.title-name__doter .
      .footer__social
        ul.social
          each item in social
            li.social__item
              a.social__link(href="http://")
                i(class=`fab ${item}`)