header.header
  .container.header__container
    .header__top
      .header__text.title-name Архипов
        span.title-name__doter .
      .header__social
        ul.social
          each item in social
            li.social__item
              a.social__link(href="http://")
                i(class=`fab ${item}`)
    .header__content
      h1.header__title “Главное — это музыка”
      a(href="https://www.youtube.com/watch?v=nBE85Qy_SLc" target="_blank").header__link Смотреть видео
    .header__scroll
      .header__scroll-text Scroll

