section.music
  .container.music__container
    .music__left
      img(src="/assets/img/Music.jpg", alt="")
    .music__right.about
      .about__subtitle.subtitle Обо мне
      h2.about__title.title Я музыкант
      .about__slogan “У музыки нет возраста и нации” 
      .about__descriptons Когда мне было 11 лет, я увидел на «MTV», как Курт Кобейн поёт «Heart-Shaped Box», и замер в изумлении. Тогда он мне показался самым красивым человеком в мире. Даже в столь юном возрасте, я почувствовал его грусть.
      .about__note
        span.about__note-family Архипов
        span.about__note-field  -  Победитель гремми 2017
      