-var social = ['fa-linkedin-in', 'fa-github-alt', 'fa-tumblr', 'fa-vk']
-
  var skills = [
    {
      "number": 12,
      "text": "Возраст начала занятий на скрипке"
    },
    {
      "number": 76,
      "text": "Концертов отыграл"
    },
    {
      "number": 30,
      "text": "Максимальное число городов в туре"
    },
    {
      "number": 20,
      "text": "Лет на сцене в качестве скрипача"
    }
  ]

  var products  = [
    {
      "src": "./assets/img/products/Work1.jpg",
      "name": "Вино вдохновение",
      "price": 600
    },
    {
      "src": "./assets/img/products/Work2.jpg",
      "name": "Вино вдохновение",
      "price": 600
    },
    {
      "src": "./assets/img/products/Work3.jpg",
      "name": "Вино вдохновение",
      "price": 600
    },
    {
      "src": "./assets/img/products/Work4.jpg",
      "name": "Вино вдохновение",
      "price": 600
    },
    {
      "src": "./assets/img/products/Work5.jpg",
      "name": "Вино вдохновение",
      "price": 600
    },
    {
      "src": "./assets/img/products/Work6.jpg",
      "name": "Вино вдохновение",
      "price": 600
    },
    {
      "src": "./assets/img/products/Work7.jpg",
      "name": "Вино вдохновение",
      "price": 600
    },
    {
      "src": "./assets/img/products/Work8.jpg",
      "name": "Вино вдохновение",
      "price": 600
    },
    {
      "src": "./assets/img/products/Work9.jpg",
      "name": "Вино вдохновение",
      "price": 600
    }
  ]