body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

*, *::before, *::after { 
  box-sizing: border-box; 
}

.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #dba874;
  width: 180px;
  border: none;
  padding: 20px 35px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  &:hover {
    background-color: darken(#dba874, 7%);
  }
  &:active {
    background-color: darken(#dba874, 17%);
  }
}
.status {
  background-color: #dba874;
  color: #fff;
  width: 60%;
  padding: 10px 5px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
}