extends ../_template

block variables
  - var title = 'Home page'

block content
  include ../common/_header
  include ../common/_music
  include ../common/_life
  include ../common/_product
  include ../common/_form
  include ../common/_footer